<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Restaurant</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Edit Restaurant</h1>
    <form action="/restaurants/edit/{{restaurant._id}}" method="POST">
        <label for="name">Restaurant Name:</label>
        <input type="text" id="name" name="name" placeholder="Restaurant Name" value="{{restaurant.name}}" required>  
        <input type="text" id="location" name="location" placeholder="Location" value="{{restaurant.location}}" required>  
        <input type="number" id="rating" name="rating" placeholder="Rating 1-10" value="{{restaurant.rating}}" required>
        <input type="text" id="order" name="order" placeholder="Order" value="{{restaurant.order}}">  
        <input type="number" id="price" name="price" placeholder="Price" value="{{restaurant.price}}">  
        <input type="text" id="review" name="review" placeholder="Review" value="{{restaurant.review}}">  
        <button type="submit">Submit</button>
        <button type="button" onclick="window.location.href='/restaurants'">Cancel</button>
    </form>
</body>
</html>